@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400);

/*Reset browser specfic CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

p { margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


html{
  min-height:100%;
  /*background:url('../images/joyce_icon_white.png') no-repeat left bottom fixed #ffff41;*/
  background:#ffff41;
}

body{
color:#333333;
font-size: 62.5%;
line-height: 1.5em;
font-weight:300px;
font-family: 'Gentium Book Basic', serif;
margin: 0 auto;
min-height:100%;
}

header {
  margin-top: 1em;
}

h1 {
font-size: 4em;
margin-bottom: .5em;
line-height: 1em;
font-weight: bold;
padding-right: 3px;
/*text-shadow: 1px 1px 1px #555;*/
}

h2 {
font-size: 1em;
line-height: 1.5em;
margin-bottom: 1em;
}

p, span{
  font-size:1.9em;
  line-height:2.1em;
  color:#555555;
  margin-bottom:1em;
}

span.error{
  color:tomato;
  font-size:1.5em;
  margin-left:20px;
}

.nav{
  margin:1em 0 3em;
  border-bottom:1px solid rgba(0,0,0,0.2);
}

ul.social li{
  margin-left: -24px;
}

.container{
  max-width:60em;
}


label{
  font-size:1.9em;
  line-height:2em;
}

#print-paragraphs {
	margin-top: 50px;
	margin-bottom: 40px;
  position:relative;
  /*transition: 1s ease-in-out;*/
}

#print-paragraphs p{
  margin-bottom:1.7em;
}

input#paragraph_count{
  border-radius:4px;
  border:1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
  background:#fff;
  margin-left:15px;
  height: 30px;
  width:35px;
  font-size:1.8em;
  font-family:'Gentium Book Basic', serif;
  text-align:center;
}

input:focus{
  border:1px solid #555;
}

strong {
  font-weight: bold;
  color: #C43512;
}


#submit {
    background-color: tomato;
    border: medium none;
    border-radius: 4px;
    color: #F2F2F2;
    font-size: 1.5em;
    margin-top: 1em;
    padding: 0.8em;
    font-family:'Gentium Book Basic', serif;
    display: block;
    opacity:0.7;
    transition:all 0.5s ease-in-out;
}

#submit:hover{
  opacity: 1;
  background-color: tomato;
}

.joyce-holder{
  text-align:center;
  opacity: 0.5;
  width: 100%;
  height:500px;
  margin-top:-5em;
  background:url(../images/joyce_icon3.png) no-repeat center top;
  transition: all 1s ease-in-out;
}

footer{
  width:100%;
  color: #fff;
  position: relative;
  bottom: 0px;
}

footer p, span{
  font-size:1.3em;
}

footer a{
  color: tomato;
}

footer span.hearts{
  color: tomato;
}

@media screen and (max-width : 480px) {

 ul.social li{
  margin: 0 auto;
 }
}